@font-face{
    font-family: "Biffe";
    src: url("http://molof.ru/fonts/Biffe_-_Soul_of_Holitter.ttf");
}
@font-face{
    font-family: "Ringm";
    src: url("../fonts/ringm.ttf");
}
@font-face{
    font-family: "Cosmic";
    src: url("../fonts/Cosmic.ttf");
}
@font-face{
    font-family: "space";
    src: url("../fonts/space.ttf");
}
@font-face{
    font-family: "Spindle";
    src: url("../fonts/Spindle.ttf");
}
@font-face{
    font-family: "UniLeaf";
    src: url("../fonts/UniLeaf.ttf");
}
@font-face{
    font-family: "Zelda";
    src: url("http://molof.ru/fonts/Zelda.ttf");
}
@font-face{
    font-family: "Paulistanar";
    src: url("../fonts/Paulistanar.ttf");
}
@font-face{
    font-family: "Nebulous";
    src: url("../fonts/Nebulous.ttf");
}
@font-face{
    font-family: "Ipanema";
    src: url("../fonts/Ipanema.ttf");
}
@font-face{
    font-family: "Daisy";
    src: url("../fonts/Daisy.otf");
}
@font-face{
    font-family: "Breathe";
    src: url("../fonts/Breathe.otf");
}
@font-face{
    font-family: "blade";
    src: url("../fonts/blade.ttf");
}
@font-face{
    font-family: "Royal";
    src: url("../fonts/Royal.ttf");
}
@font-face{
    font-family: "Royal2";
    src: url("../fonts/Royal2.ttf");
}
